
body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}



.card {
    width: 650px; 
    height: 350px;
    background-color: #5c7788;
    border-radius: 10px;
    margin: 10px;
    box-shadow: 0 4px 8px rgba(52, 137, 255, 0.345);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.avatar {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    padding: 0 20px;
} 

.avatar img {
    width: 150px;
    height: 150px;
    align-items: center;
    margin: 20px;
}

.info {
    text-align: right;
    color: rgb(255, 236, 211);
    font-family: 'Times New Roman', Times, serif;
    font-weight: lighter;
    width: 100%;
    padding: 0 20px;
    margin-bottom: 20px;
    margin-right: 80px;
}

#back {
    display: none;
}

